<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>招生介绍</title>
<mvc:annotation-driven enable-matrix-variables="true"></mvc:annotation-driven>
<context:component-scan base-package="com.th.action"></context:component-scan>
<mvc:default-servlet-handler/>
<link href="css/common.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<!--<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>-->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide2.js"></script>
<script type="text/javascript">
$(function(){
	$('#index-news-focus').owlCarousel({
		items: 1,
		navigation: true,
		navigationText: ["上一个","下一个"],
		autoPlay: true,
		stopOnHover: true
	}).hover(function(){
		$('.owl-buttons').show();
	}, function(){
		$('.owl-buttons').hide();
	});
});
</script>

<!--下拉动画-->
<link rel="stylesheet" href="wow/animate.min.css"/>
<script type="text/javascript" src="wow/wow.min.js"></script>
<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		new WOW().init();
	};
	$(function(){
		
	});
</script>
<!--下拉动画-->
</head>

<body>
<!--header S-->
<header>
	<!--nav S-->
    <%- include("./headers.ejs") %>
    <!--nav E-->
	<div class="page-banner" style="background:url(images/page_bj.jpg) no-repeat center top; "></div>
</header>
<div class="padding-top2"></div>
<!--header E-->

<div class="curnav">
	<a href="/">网站首页</a><i>/</i><span>招生介绍</span>
</div>

<div class="pagemain">

    <a onclick="">招生方案</a>
    <a onclick="">招生通知</a>
    <div id="page1" class="page-content">
        <p class="MsoNormal" style="text-indent:28.0000pt;">
            <span> </span>
        </p>
        <p class="MsoNormal">
            <span> </span>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span> </span>
        </p>
        <p class="MsoNormal" align="center" style="text-align:center;">
            <br />
        </p>
        <p class="MsoNormal" style="text-indent:66.0000pt;">
        <h2 class="MsoNormal" style="text-indent:44.0000pt;text-align:center;">
           2020年文安县第一小学招生方案
        </h2>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>为规范全县中小学招生行为，维护良好招生秩序，确保招生区域内符合条件的适龄儿童，少年全部按时入学，根据河北省教育厅《关于做好</span>2020年义务教育招生入学工作的通知》（冀教基【2020】3号）、《廊坊市教育局关于做好2020年义务教育招生入学工作的通知》（廊教【2020】29号）文件精神，结合我县实际，制定本校招生方案。
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>一、指导思想</b><b></b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            以推进义务教育均衡发展，促进教育公平为重点，推进招生制度改革，着力破解择校问题，有效消除大班额，努力为适龄儿童少年提供优质公平的教育机会和教育条件。
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>二、招生对象</b><b></b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>招收</span>2020年8月31日前年满六周岁的适龄儿童
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>三、入学条件</b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <u>（一）本地户籍学生</u><u></u>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            1.在城区入学的，提供以下材料
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>（</span>1）监护人身份证明:父母或其他法人监护人有效期内的身份证原件、复印件。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>（</span>2）户籍证明:。父母或其他。法定监护人的户口簿原件、复印件（必须含户口首页孩子本人页父母页或其他法定监护人页）。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>（</span>3）合法常住固定住所证件:有住房的，提供招生区域内的房产证（不动产权证或宅基地等证件）的原件和复印件（房产在法定监护人名下）。其中已购住房并入住但没有房产证的，需提供1购房合同原件及复印件2购房发票原件及复印件3。本年度水、电、燃气、物业等缴费收据原件及复印件。。无住房的，提供文安县公安局开具的租赁备案登记证原件及复印件。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>（</span>4）儿童预防接种卡原件及复印件
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <u>（二）户籍不在划片范围的县城内国企，事业单位工作人员子女、县城内进城务工人员有房随迁子女、县城外进城务工人员随迁子女。</u>除提供其父母或其他法定监护人的身份证户口本儿童预防接种卡原件及复印件等有关材料外。同时提供以下材料
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>（</span>1）合法常住固定住所证件。有住房的，提供招生区域内的房产证（不动产权。正火宅基地等证件）的原件和复印件（房产在法定监护人名下）。其中已购住房并入住但没有房产证的，需提供1购房合同原件及复印件2购房发票原件及复印件3本年度水电燃气物业等缴费收据原件及复印件。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            无住房的，需提供文安县公安局开具的租赁备案登记证原件及复印件。县域外进城务工人员提供父母或法定监护人的《廊坊市居住证》原件及复印件，（居住凭证不能作为入限制小学就学的有效证件）。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>（</span>2）工作证明或务工证明:1。国企事业单位工作人员提供本单位工作证明原件、2019年度社会保险参保缴费证明。2。经商人员提供营业执照（截止2020年6月30日）原件儿及复印件。3。务工人员提供就业证。截止（2020年6月30日）原件儿及复印件监护人与参保用工单位签订的劳动合同。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <u>（三）县城内，进城务工人员租房户，随迁子女</u>需除提供其父母或其他法定监护人的身份证户口本儿童预防接种卡原件及复印件等有关材料外，同时提供以下材料
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>（</span>1）合法常住固定住所证件:提供文安县公安局开具的租赁备案登记证原件及复印件。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>（</span>2）务工证明:1经商人员提供营业执照（截至2020年6月30日）原件及复印件。2。务工人员提供就业证（截至2020年6月30日）原件及复印件、监护人与参保用工单位签订的劳动合同（参保人员可提供2019年度社会保险参保缴费证明，2019年全年、2020年1月至六月份儿工资条，如县直小学班额不超45人，具备以上条件的优先调剂）。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <u>（四）现役军人子女</u>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>（</span>1）监护人军人证件原件及复印件。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>（</span>2）单位证明原件。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>（</span>3）居住证明原件及复印件。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>（</span>4）儿童预防接种卡原件及复印件。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <u>（五）在儿童福利机构被收留抚养的儿童提供本人户籍证明儿童预防接种卡以及儿童福利机构出具的证明等材料的原件和复印件。</u><u></u>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <u>（六）随班就读的残疾儿童提供户口本残疾证儿童预防接种卡等材料的原件和复印件。</u><u></u>
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>特别提示</b><b></b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            1.父母户籍不在同一户口簿，且房本儿持有方与适龄儿童少年也不在同一户口簿的，需提供结婚证和适龄儿童少年的出生医学证明。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            2.适龄儿童少年的父母是独生子女，且与祖父母共同居住的，其祖父母的房产可作为住所证明使用，报名时除提供房产证外，还需提供独生子女证或相关户籍证明。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            3.为方便广大群众顺利办理子女接受义务教育的相关手续。家长不得为孩子在不同学校重复申报入学，若申请人隐瞒其子女读过小学存在重复申报的事实，仍然申请一年级新生入学，一经查实，将取消其入学资格，已经入学的将予以清退。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            4.具备片区内户籍且有多套房产的居民，报名时原则上以户籍住址为入学依据。
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>四、招生原则</b><b></b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            1.划片招生免试就近入学，实行划片招生就近入学，严禁通过各种形式的考试、考核、测试等方式选拔学生。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            2.阳光招生，公开公正。加强对招生工作的组织领导，全面推行阳光招生，加强招生信息公开，自觉接受学生家长和社会监督。
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>五、招生范围</b><b></b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            丰利路以东、盐店北路以西、崇文街以南的。风利区、盐店南路以西的国泰东区、南关村、二村、四村（兴文道南）、房庄村有城镇户籍或相关村户籍的适龄儿童；。招收符合条件的国企，事业单位工作人员子女，县城内进城务工人员有房户随迁子女，县城外进城务工人员随迁子女。
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>六、报名验证时间</b><b></b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            1.网上预报名时间:2020年7月5日至8日，验证时间，2020年7月12日至16日
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            2.补录时间:2020年7月26日00:00至24:00进行网络预报名，7月31日，家长根据通知携带相关证件到相应片区学校进行补录。
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>七、</b><b>公布新生名单时间</b><b></b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            1.2020年8月20日至22日（若因疫情有变动，将另行通知）。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            2.根据学校电话通知家长到相关学校领取入学通知书。
        </p>
        <p class="MsoNormal" style="margin-left:73.2%;text-indent:-240.0000pt;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>文安县第一小学</span>
        </p>
        <p class="MsoNormal" style="margin-left:70%;text-indent:0.0000pt;">
            2020年6月25日
        </p>
        </p>
        <p class="MsoNormal" style="text-indent:28.0000pt;">
            <br />
        </p>
    </div>
	<div id="page2" class="page-content">
        <p class="MsoNormal" style="text-indent:28.0000pt;">
            <span> </span>
        </p>
        <p class="MsoNormal">
            <span> </span>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span> </span>
        </p>
        <p class="MsoNormal" align="center" style="text-align:center;">
        <h2 class="MsoNormal" style="text-indent:66.0000pt; text-align:center;">
            2020年文安一小招生通知
        </h2>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            文安县第一小学开始招生啦！文安一小有着悠久的历史和经典的传承，学校重视学生各方面素质的均衡发展，期待新一代生力军的加入。欢迎符合条件的新生报名。
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>一、</b><b>招生原则</b><b></b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            1.划片招生免试就近入学，实行划片招生就近入学，严禁通过各种形式的考试、考核、测试等方式选拔学生。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            2.阳光招生，公开公正。加强对招生工作的组织领导，全面推行阳光招生，加强招生信息公开，自觉接受学生家长和社会监督。
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>二、招生对象</b><b></b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>招收</span>2020年8月31日前年满六周岁的适龄儿童
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>三</b><b>、招生范围</b><b></b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            丰利路以东、盐店北路以西、崇文街以南的。风利区、盐店南路以西的国泰东区、南关村、二村、四村（兴文道南）、房庄村有城镇户籍或相关村户籍的适龄儿童；。招收符合条件的国企，事业单位工作人员子女，县城内进城务工人员有房户随迁子女，县城外进城务工人员随迁子女。
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>四、所需材料</b>（见2020年文安县第一小学招生方案第三项入学条件）
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>五</b><b>、报名验证时间</b><b></b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            <span>网上预报名时间</span>:2020年7月5日至8日，验证时间，2020年7月12日至16日
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>六、</b><b>公布新生名单时间</b><b></b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            1.2020年8月20日至22日（若因疫情有变动，将另行通知）。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            2.根据学校电话通知家长到相关学校领取入学通知书。
        </p>
        <p class="MsoNormal" style="text-indent:32.1500pt;">
            <b>*文安县第一小学温馨提示*：</b><b></b>
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            1.验证时间为7月12日—16日（每天上午8：30—11：30，下午3：00—5：30）请尽量避免高峰时段报名。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            2.进入校园请佩戴口罩，在学校门口测体温后依次进入。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            3.进入校园请爱护公物，保护环境卫生。
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            &nbsp;
        </p>
        <p class="MsoNormal" style="text-indent:32.0000pt;">
            &nbsp;
        </p>
        <p class="MsoNormal" style="margin-left:66.5%;text-indent:32.0000pt;">
            <span>文安县第一小学</span>
        </p>
        <p class="MsoNormal" style="margin-left:70%;text-indent:0.0000pt;">
            2020年6月25日
        </p>
        </p>
        <p class="MsoNormal" style="text-indent:28.0000pt;">
            <br />
        </p>

    </div>
</div>




<div class="foot-tiao"></div>
<%- include("./footers.ejs") %>






<script type="text/javascript">
jQuery(".banner-slide").slide({mainCell:".bd ul",autoPlay:true,delayTime:2000});
</script>


</body>
</html>
