<footer>
    <div class="main">
        <div class="f-logo"><img src="/images/logo.png"></div>
        <div class="f-text">
            <p>电话：010-000000</p>
            <p>地址：</p>
            <p>版权所有 文安一小 Copyright © 2020</p>
        </div>
        <div class="f-qrc">
            <img src="/images/qrc.jpg">
            <img src="/images/qrc.jpg">
        </div>
    </div>
</footer>
