<nav>
    <div class="top">
        <div class="text">
            <span class="l">欢迎光临文安一小网站！</span>
            <span class="r">咨询电话：010-0000000</span>
        </div>
    </div>
    <div class="hn-main">
        <ul>
            <li>
                <a href="/">网站首页</a>
                <a href="/activity-list">校园动态</a>
                <a href="/images-list">校园风采</a>
                <a href="/about">校园文化</a>
            </li>
            <a href="/" class="logo"><span><img src="/images/logo.png"></span></a>
            <li>
                <a href="/news-list">新闻资讯</a>
                <a href="/about">荣誉资质</a>
                <a href="/enroll">招生介绍</a>
                <a href="/contact">联系我们</a>
            </li>
        </ul>
    </div>
</nav>